@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pixelify Sans', sans-serif;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#b1cff2, #eafef4);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

.demo-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

header .logo {
    color: #2b1055;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    font-size: 1.5rem;
    color: #2b1055;
    border-radius: 20px;
    max-width: 100%;
}

header ul li a:hover,
header ul li a.active {
    background: #fff;
    color: #b1cff2;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section img#clouds {
    mix-blend-mode: screen;
}

section img#mountains_front {
    z-index: 10;
}

#text {
    position: absolute;
    right: 75px;
    top: 200px;
    color: #2b1055;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
}

#btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 40px;
    z-index: 9;
    transform: translateY(10px);
}

.section-box {
    background: #fff;
    border-radius: 15px;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    max-width: 800px;
    width: 90%;
    align-items: center;
    overflow: hidden;
}

.section-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

.section-box h2 {
    font-size: 50px;
    margin-bottom: 10px;
    color: #2b1055;
}

.section-box p {
    font-size: 30px;
    color: #2b1055;
    line-height: 1.5;
}

.sec {
    position: relative;
    padding: 50px;
    background: linear-gradient(#9DAFDA, #eafef4);
    margin-top: -50px;
}

.sec h2 {
    font-size: 50px;
    margin-bottom: 10px;
    color: #2b1055;
}

.sec p {
    font-size: 30px;
    color: #2b1055;
    line-height: 1.5; 
}

.sec img {
    position: relative;
    width: 200%;
    height: auto;
    object-fit: cover;
    pointer-events: none;
}

.center {
    max-width: 90%;
    height: auto;
    display: block;
    margin: 20px auto;
}

.right {
    float: right;
    margin-left: 20px;
    max-width: 30%;
    height: auto;
}

.image-text-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.image-text-wrapper img {
    margin-right: 20px;
    max-width: 300px;
    height: auto;
}
.demo-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.demo-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}